<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="liga.medical.personservice.core.repository.LogMapper">

    <insert id="save" parameterType="LogDto" >
        insert into log.log (id, date, info, username)
        values (#{log.id}, #{log.date}, #{log.level}, #{log.username})
    </insert>

</mapper>