<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="liga.medical.personservice.core.repository.PersonDataMapper">

    <resultMap id="personDataResultMap" type="PersonData">
        <id property="id" column="id" />
        <result property="lastName" column="last_name"/>
        <result property="firstName" column="first_name"/>
        <result property="birthDt" column="birth_dt"/>
        <result property="age" column="age"/>
        <result property="sex" column="sex"/>
        <result property="parentId" column="parent_id"/>
        <association property="contactId" javaType="Contact">
            <id property="id" column="id"/>
            <result property="phoneNumber" column="phone_number"/>
            <result property="email" column="email"/>
            <result property="profileLink" column="profile_link"/>
        </association>
        <association property="medicalCardId" javaType="MedicalCard">
            <id property="id" column="id"/>
            <result property="clientStatus" column="client_status"/>
            <result property="medStatus" column="med_status"/>
            <result property="registryDt" column="registry_dt"/>
            <result property="comment" column="comment"/>
        </association>
        <!--<collection property="parentId" javaType="PersonData">
            <id property="id" column="id"/>
        </collection>-->
    </resultMap>

    <select id="findAllPersonData" resultMap="personDataResultMap">
        select * from person_data<!-- c
            left join person_data p
                on c.parent_id = p.id-->
    </select>

</mapper>