<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="liga.medical.personservice.core.repository.UserMapper">

    <resultMap id="userAndRoleResultMap" type="UserPrincipal">
        <id property="id" column="uuid"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <collection property="roles" ofType="Role">
            <id property="id" column="id"/>
            <result property="name" column="name"/>
        </collection>
    </resultMap>

    <select id="findUserUuidByName" resultMap="userAndRoleResultMap">
        select u.id as uuid, username, password, r.id as id, r.name as name
        from security.user as u
            join security.user_to_role as ur
                on u.id = ur.user_id
            join security.role as r
                on r.id = ur.role_id
        where u.username = #{name}
    </select>

    <select id="findUserUuidByUuid" resultMap="userAndRoleResultMap">
        select u.id as uuid, username, password, r.id as id, r.name as name
        from security.user as u
            join security.user_to_role as ur
                on u.id = ur.user_id
            join security.role as r
                on r.id = ur.role_id
        where u.id = #{uuid}
    </select>

    <select id="findAllUsers" resultMap="userAndRoleResultMap">
        select u.id as uuid, username, password, r.id as id, r.name as name
        from security.user as u
            left join security.user_to_role as ur
                on u.id = ur.user_id
            left join security.role as r
                on r.id = ur.role_id
    </select>

    <select id="findUserByUserName" resultType="User">
        select id, username, password
        from security.user
        where username = #{username}
    </select>

    <insert id="saveUser" parameterType="User">
        insert into security.user (id, username, password)
        values (#{uuid}, #{user.username}, #{user.password})
    </insert>

    <insert id="saveUserToRole">
        insert into security.user_to_role (user_id, role_id) values
        <foreach collection="roles" item="roleId">
            (#{uuid}, #{roleId})
        </foreach>
    </insert>

    <delete id="deleteUserToRole">
        delete from security.user_to_role
        where user_id = #{uuid}
    </delete>

    <delete id="deleteUser">
        delete from security.user
        where id = #{uuid}
    </delete>

</mapper>